body {
    width: 700px;
    margin: 0 auto;
}
/* header section */
h1 {
    text-align: center;
    color: #e85a4f;
    font-size: 3rem;
}
/* recipe presentation part */
.presentation-container {
    background-color: rgb(252, 238, 222);
    padding: 20px;
    border-radius: 1rem;
    font-family: monospace;
}
.presentation-container p {
    font-size: 1rem;
    margin-top: 11px;
}
.presentation-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
.presentation-container h3 {
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 0;
}
/* Ingredient-part */
.steps-container,
.ingredient-container {
    background-color: #E98074;
    padding: 20px;
    border-radius: 0 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.steps-container li,
.ingredient-container li {
    margin-bottom: 0.3rem;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 1rem;
}
/* Steps part */
.steps-container {
    background-color: #d8c3a5;
}
.steps-container li {
    margin-bottom: 1rem;
}
.steps-container img {
    margin-bottom: 2rem;
    box-shadow: rgb(255, 255, 255) 0px 0px 30px;
    border-radius: 10px;
    border: #d8c3a5 solid 3px;
}