.container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(252, 238, 222);
    padding: 10px;
    margin-top: 0;
    border-radius:  0 0 20px 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
