.container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(252, 238, 222);
    padding: 10px;
    margin-top: 0;
    border-radius: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container h1 {
    text-align: center;
    font-family: monospace;
    font-size: 4rem;
    color: #E98074;
}

.container h3 {
    font-family: monospace;
    font-size: 1.3rem;
    margin-left: 10px;
}

.container ul a {
    text-decoration: none;
}